#ThemeManager {
  height: 100vh;
  width: 100vw;
}

.background-base {
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
}

.background-1 {
  background: #eeeeee;
}

.background-2 {
  background: #111111;
}

.background-3 {
  background: #ff4a4a;
}
.background-4 {
  background: #ff914d;
}
.background-5 {
  background: #fefe70;
}
.background-6 {
  background: #b5ff6c;
}
.background-7 {
  background: #36c6ee;
}
.background-8 {
  background: #986cff;
}
.background-9 {
  background: #ee36cc;
}

.background-grad-1 {
  background: linear-gradient(to bottom right, #ba6cff, #e049ee, #f52af2);
}
.background-grad-2 {
  background: linear-gradient(to bottom right, #6cffa9, #49eec7, #2af5eb);
}
.background-grad-3 {
  background: linear-gradient(to bottom right, #ff6c6c, #eec749, #ffff33);
}
.background-grad-4 {
  background: linear-gradient(to bottom right, #876cff, #ee7b49, #f5902a);
}

.background-img-1 {
  background-image: url("/background/background1.jpg");
}
.background-img-2 {
  background-image: url("/background/background2.jpg");
}
.background-img-3 {
  background-image: url("/background/background3.jpg");
}
.background-img-4 {
  background-image: url("/background/background4.jpg");
}
